header {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    background-image: linear-gradient(
        to right,
        #230545,
        #230545,
        #230545,
        #230545,
        #230545,
        #250548,
        #27064c,
        #29064f,
        #2e0756,
        #32085d,
        #370865,
        #3c096c
    );
    justify-content: space-between;
    img {
        height: 46px;
        padding: 16px 28px 16px 0;
    }
    .icon {
        align-self: center;
        height: 45px;
        width: 45px;
        color: #ffffff;
        padding-left: 28px;
    }
    .menuBar {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        background-image: linear-gradient(
            to right,
            #230545,
            #230545,
            #230545,
            #230545,
            #230545,
            #250548,
            #27064c,
            #29064f,
            #2e0756,
            #32085d,
            #370865,
            #3c096c
        );

        transition: margin-right 2s;
    }

    .top-menu-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
            margin-right: 17px;
        }
    }
    .close-menu {
        cursor: pointer;
    }

    ul {
        margin: 0 auto;
        color: white;
    }
    li {
        display: flex;
        align-items: center;
        margin: 24px 0;
        cursor: pointer;
        .icon {
            margin-right: 17px;
        }
    }
    .hiddenMenuBar {
        display: none;
    }
}
