.servicios {
    padding: 20px 0 25px 0;
    .card {
        padding: 25px 0px;
        .icon {
            width: 58px;
            height: 58px;
            color: #cdb4db;
        }
    }
    .servicio{
        padding: 17px 0;
    }
    .pw{
        background-color: #CDB4DB;
    }
}
