.servicios {
    padding: 20px 0 25px 0;
    .card {
        padding: 25px 0px;
        .icon {
            width: 58px;
            height: 58px;
            color: #cdb4db;
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .servicio {
        padding: 17px 0;
        h3{
            text-align: center;
        }
        .bold {
            display: inline;
            font-weight: 700;
            font-size: 24px;
            padding: 0;
        }
        .italic{
            display: inline;
            font-size: 24px;
            padding: 0;
            font-style: italic;
        }
    }
    .pw {
        background-color: #cdb4db;
    }
}
