.proyectos {
    padding: 20px 0 25px 0;
    background-color: #230545;
    color: #ffffff;
    place-items: center;
    .proyecto {
        position: relative;
        margin: 15px 30px;
        background-color: #3c096c;
        height: 250px;
        width: 300px;
        .textImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            font-weight: 600;
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .proyecto:hover {
        img {
            opacity: 0.3;
        }
        .textImg{
            display: inline-block;
            color: #d0d0d0;

        }
    }
}
